header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
header li {
  list-style: none;
  padding: 10px;
}
header span{
  font-size: 18px;
  font-weight:500;
  color: white;
  text-decoration: none;
}
header img {
  margin: 10px;
  width: 150px;
}
