.entryForm-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}
.entryForm-container h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.entryForm-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entryForm-container input {
  width: 18%;
  padding: 13px;
  margin: 10px;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
}
.entryForm-container button {
  margin-top: 10px;
  padding: 10px;
  width: 20%;
  border: 0px;
  border-radius: 5px;
  background-color: #faa94a;
  font-weight: 700;
  font-size: 16px;
}
.entryForm-container button:hover {
  cursor: pointer;
  background-color: #f18613;
}
